

:root {
	--main-bg-color: #f26d7d;
	/*#df3152;*/
	/*#ffb7c5;*/
	--main-sub-color: #f26d7d;
	--main-bghover-color: #db556e;
}

.main-body {
	padding: 15px;
}

.navbar-blog {
	background: var(--main-bg-color);
}

.footer {
	background: var(--main-bg-color);
}

main a {
	color: var(--main-bg-color) !important;
	text-decoration: none!important;
}

main a:hover {
	color: var(--main-bghover-color) !important;
	text-decoration: none!important;
}

.leia-mais {
	background: var(--main-bg-color)!important;
	border-color: var(--main-bg-color) !important;
	color: white !important;
	font-size: 15px !important;
	padding: 5px !important;
}

.leia-mais:focus {
	box-shadow: none !important;
}


/*DATA E AUTOR*/

.post-footer-line.post-footer-line-1 {
	/*border-right: 2px dashed var(--main-bg-color);*/
	margin-bottom: 10px;
	width: 100%;
	padding: 15px;
	border-top: 2px dashed var(--main-bg-color);
	border-radius: 10px;
	/* border-left: 2px dashed var(--main-bg-color);*/
}


/*TITULO*/

h3.post-title.entry-title {
	color: var(--main-bg-color);
	margin: 0 !important;
	padding: 0;
	margin-left: 15px !important;
}

body {
	background: url(https://i.imgur.com/Z1bzeTN.jpg) no-repeat fixed;
	background-size: cover;
}

.blog-main {
	/*background: white;*/
	height: max-content;
	margin-bottom: 25px;
	margin-left: 5px;
	margin-right: 5px;
	min-height: 80vh;
}

.post-outer {
	background: white;
	padding: 10px 0px;
	margin-bottom: 15px;
	border-radius: 15px;
	border-bottom: 5px solid var(--main-bg-color);
	border-top: 5px solid var(--main-bg-color);
}


/*CORPO POSTAGEM*/

.post.hentry {
	/*border-bottom: 5px solid var(--main-bg-color);
    margin-bottom: 10px;
    padding-bottom: 15px;*/
}

.post-body {
	/*padding: 5px;
	font-size: 1.25em;*/
}

.blog-sidebar {
	background: white;
	/*  border-left: 25px solid var(--main-sub-color);*/
	margin-left: 15px;
	margin-right: 15px;
	height: max-content;
	background: white;
	padding: 5px;
	margin-bottom: 15px;
	border-radius: 15px;
	border-bottom: 5px solid var(--main-bg-color);
	border-top: 5px solid var(--main-bg-color);
}


/*TITULO WIDGET*/

.widget>.title {
	color: var(--main-bg-color);
	border-bottom: 2px dashed var(--main-bg-color);
	margin-bottom: 10px;
	padding-bottom: 5px;
	width: max-content;
	font-size: 24px;
	margin-top: 10px;
}

.pesquisabotao {
	background: var(--main-bg-color);
	border: none;
	color: white;
	padding: 5px;
}

.pesquisabotao:hover {
	background: var(--main-bghover-color);
}

.widget.search,
.sidebar>.widget {
	padding-bottom: 10px;
}

.colortext {
	color: var(--main-bg-color);
	font-weight: bold;
}

.jump-link {
	margin-top: 5px;
	text-align: right;
	margin-right: 5px;
}

.leia-mais:hover {
	background: var(--main-bghover-color) !important;
	color: white !important;
}

.separador {
	border-bottom: 2px dashed var(--main-bg-color);
	margin-bottom: 15px;
}

.separador-semmargem {
	border-bottom: 2px dashed var(--main-bg-color);
}

.desclogo {
	font-size: 12px;
}

.logotext {
	font-size: 30px;
	padding: 0;
	margin: 0;
	display: block;
	line-height: 0.55em;
}

.desclogo {
	font-size: 11px;
	padding: 0;
	margin: 0;
}

.corpopost img {
	max-width: 95%;
	height: auto;
}

.separator {
	width: 100%;
	margin: 0 !important;
}

.separator>a {
	margin: 0 !important;
}

.postauthor {
	float: right;
	border-bottom: 2px dashed var(--main-bg-color);
	margin-right: 15px;
}

.container.main-body {
	margin: 0 auto;
	max-width: 95% !important;
}

#blog-pager {
	background: white;
	padding: 25px 0px;
	margin-bottom: 15px;
	border-radius: 15px;
	border-bottom: 5px solid var(--main-bg-color);
	border-top: 5px solid var(--main-bg-color);
}

#disqus_thread {
	background: white;
	padding: 25px 10px;
	margin-bottom: 15px;
	border-radius: 15px;
	border-bottom: 5px solid var(--main-bg-color);
	border-top: 5px solid var(--main-bg-color);
}

#blog-pager {
	text-align: center;
}

#blog-pager-older-link {
	float: right;
}

#blog-pager-newer-link {
	float: left;
}

.postimagem {
	display: inline;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	max-width: 95%;
	height: auto;
}

.corpopost {
	padding: 10px;
}

.corpopost a {
	margin: 0 !important;
}

.disqusbotao {
	margin: 0 auto;
	width: 100%;
}

.imagemperfil {
	float: left;
	margin-right: 10px;
}

.btn-outline-danger {
    color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
}

.btn-outline-danger:hover {
    background: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
    color: white;
}
